# Ignore ROM files and user data, but keep directory structure
*

# Keep directory structure
!.gitignore
!README.md
!Roms/
!Roms/.gitkeep
!.userdata/
!.userdata/.gitkeep
!.system/
!.system/.gitkeep
!.system/res/
!.system/res/*.png
!.system/res/*.otf
!.system/macos/
!.system/macos/paks/
!.system/macos/paks/Emus/
!.system/macos/paks/Emus/*.pak/
!.system/macos/paks/Emus/*.pak/launch.sh
